/*
%center{
    /*display: flex;*/
    /*display: $flex;
    justify-content: center;
    align-items: center;
}*/
/*%row-flex{
    /*display: flex;*/
    /*display: $flex;
    flex-direction: row;
}*/

/*%center {
    display: $flex;
    justify-content: $align-center;
    align-items: $align-center;
}
  
%row-flex {
    display: $flex;
    flex-wrap: wrap;
}*/