/*$black-color:#000;
$link-color:rgb(154,155,158);
$red-color:red;
$white:white;
$flex:flex;
$font-family:'Open Sans', sans-serif;
$yummy-size:30px;
$nav-size:18px;
$button-font-size:13px!important;
$justify-content-between:space-between;
$align-center:center;*/
/*$black-color: #292929;
$red-color: #E33E31;
$link-color: #797979;
$nav-size: 16px;
$font-family: 'Poppins', sans-serif;
$flex: flex;
$justify-content-between: space-between;
$align-center: center;*/
$white: #fff;
$black: #000;
$red: #ff385c;
$link: #232323;
$font-size: 16px;
$nav-font-size: 14px;
$font-family: 'Open Sans', sans-serif;
$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;